aiomysql==0.0.21
aiostream==0.4.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
idna==2.10
MarkupSafe==1.1.1
peewee==3.14.1
peewee-async==0.7.1
PyMySQL==0.9.3
redis==3.5.3
requests==2.25.1
six==1.15.0
soupsieve==2.2
tornado==6.1
urllib3==1.26.3
WTForms==2.3.3
WTForms-JSON==0.3.3
wtforms-tornado==0.0.2
